.config {
  background-color: transparent;
  padding: .5em;
  position: absolute;
  top: 0;
  left: 0;
}
.config__toggle-btn {
  display: block;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  transition: .5s;
  color: black;
}
.config__toggle-btn :hover {
  cursor: pointer;
}
.config__options {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: .5em;
  font-size: 1.5em;
  position: absolute;
  text-align: left;
  z-index: 1;
  white-space: nowrap;
}
.config__label {
  display: block;
}
.config__input {
  margin-left: auto;
  display: inline-block;
  margin-right: 5px;
}
.config__icon {
  color: white;
  font-size: 2em;
}

.config--opened .config__toggle-btn {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}
