* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
    line-height: 1.5;
}
body {
    background-color: #9E9E9E;
    min-height: 100vh;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
}
.app {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#444, #555, #653);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
@media (min-width: 500px) {
    .app{
        max-width: 700px;
        min-height: 600px;
        margin: 1em auto;
        border-radius: 15px;
    }
    
}